@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DANH SÁCH CÁC BÀI TẬP</h2>

<ol>
    <li>
        Tạo một trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin: Mã số nhân viên, họ tên, ngày sinh, email, mật khẩu,
        đơn vị và ảnh đại diện <br />
        Khi người dùng nhấn nút đăng ký, ứng dụng cho phép lưu thông tin nhân viên vừa nhập vào file text và lưu ở server (lưu cả hình về server)
        , ứng dụng cho phép mở thông tin cá nhân vừa đăng ký hiển thị lại client web.
    </li>
    <li>
        Tạo 1 trang web cho phép đăng nhập vào email.
    </li>
    <li>
        Tạo chức năng cho phép người dùng chọn 1 ảnh bất kỳ để thay đổi banner giao diện.
    </li>
</ol>