@{
    ViewBag.Title = "GioiThieu_61134177";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>

<p>Mã sinh viên: 61134177</p>
<p>Họ tên: Đặng Anh Phú</p>
<p>Lớp: 61.CNTT-2</p>
<p>Ngày kiểm tra: 19/05/2022</p>